.login .main .header .act-back {
  position: fixed;
  display: block;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-left: 0.3rem;
  color: white;
}
.login .main .user-info {
  margin: 0 auto;
  width: 10rem;
  margin-top: 3rem;
  font-size: 1rem;
  text-align: center;
}
.login .main .user-info label {
  line-height: 1rem;
  height: 1rem;
  vertical-align: middle;
}
.login .main .user-info input {
  outline: none;
  font-size: 1rem;
  width: 5rem;
  height: 1rem;
  line-height: 1rem;
  vertical-align: middle;
}
.login .main .user-info div {
  height: 2rem;
}
.login .main .button {
  margin: 0 auto;
  width: 10rem;
  text-align: center;
  color: white;
}
.login .main .button .btn {
  display: inline-block;
  width: 3rem;
  margin: 0.2rem;
  background-color: #01bc8f;
  border-radius: 0.3rem;
  z-index: 9999;
}
.register .main .header .act-back {
  position: fixed;
  display: block;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-left: 0.3rem;
  color: white;
}
.register .main .sign-up {
  font-size: 0.7rem;
  margin-top: 2rem;
}
.register .main .sign-up .info {
  margin: 0 auto;
  width: 10rem;
}
.register .main .sign-up .info .item {
  position: relative;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}
.register .main .sign-up .info .item input[type=text] {
  position: absolute;
  left: 5rem;
  top: 0.2rem;
  width: 4.8rem;
  height: 0.7rem;
  font-size: 0.38rem;
}
.register .main .sign-up .info .item input[type=number] {
  position: absolute;
  left: 5rem;
  top: 0.2rem;
  width: 4.8rem;
  height: 0.7rem;
  font-size: 0.38rem;
}
.register .main .sign-up .info .item .gender-list {
  position: absolute;
  left: 5rem;
  width: 4.8rem;
  text-align: center;
}
.register .main .sign-up .info .item .gender-list input[type=radio] {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.register .main .sign-up .info .item .check-part {
  text-align: center;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
.register .main .sign-up .info .item .check-part .check-item {
  font-size: 0.6rem;
  margin-right: 0.15rem;
  text-align: center;
}
.register .main .sign-up .info .item .check-part .check-item input[type=checkbox] {
  margin-left: 0.1rem;
}
.register .main .sign-up .buttons {
  margin: 0 auto;
  width: 10rem;
}
.register .main .sign-up .buttons .ok {
  margin: 0 auto;
  width: 4rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  background-color: #01bc8f;
  color: white;
}
