.index-list .main .banner {
  width: 10rem;
  height: 4rem;
  line-height: 4rem;
  margin: 0 auto;
  margin-top: 0.2rem;
  background-color: white;
  text-align: center;
  color: #01bc8f;
  cursor: pointer;
}
.index-list .main .list #pageIn {
  position: fixed;
  display: none;
  z-index: 30;
  width: 10.8rem;
  top: 50%;
  left: 50%;
  margin-left: -5.4rem;
  transform: translateY(-50%);
}
.index-list .main .list li {
  position: relative;
  width: 10rem;
  min-height: 3.2rem;
  padding: 0.2rem;
  margin: 0 auto;
  margin-top: 0.2rem;
  font-size: 0.16rem;
  background-color: white;
}
.index-list .main .list li img {
  position: absolute;
  width: 2.7rem;
  height: 2.7rem;
  right: 0.2rem;
  top: 50%;
  margin-top: -1.35rem;
  float: right;
}
.index-list .main .list li .list-content {
  padding-top: 0.2rem;
  margin-right: 2.9rem;
}
.index-list .main .list li .list-content .list-title {
  font-size: 0.5rem;
  font-weight: bold;
}
.index-list .main .list li .list-content .list-date {
  padding-left: 0.3rem;
  font-size: 0.3rem;
}
.index-list .main .list li .list-summary {
  font-size: 0.4rem;
  margin-right: 2.9rem;
}
.index-list .main .list .empty {
  height: 1.6rem;
  width: 10.8rem;
}
