<div class="banner">
	<img src="./src/images/banner.png">
</div>
<ul class="clearfix">
	<li><a ui-sref = 'index'>首页</a></li>
	<li>
		<a ui-sref = 'list({menu:1,list:1})' href="#">学院概况</a>
		<ul>
			<li><a ui-sref = 'list({menu:1,list:1})' href="#">学院简介</a></li>
			<li><a ui-sref = 'list({menu:1,list:2})' href="#">现任领导</a></li>
			<li><a ui-sref = 'list({menu:1,list:3})' href="#">所获荣誉</a></li>
		</ul>
	</li>
	<li>
		<a ui-sref = 'list({menu:2,list:1})' href="#">组织机构</a>
		<ul>
			<li><a ui-sref = 'list({menu:2,list:1})' href="#">学院四办</a></li>
			<li><a ui-sref = 'list({menu:2,list:2})' href="#">系教研室</a></li>
			<li><a ui-sref = 'list({menu:2,list:3})' href="#">院实验室</a></li>
			<li><a ui-sref = 'list({menu:2,list:4})' href="#">学术组织</a></li>
		</ul>
	</li>
	<li>
		<a ui-sref = 'list({menu:3,list:1})' href="#">本科生教育</a>
		<ul>
			<li><a  ui-sref = 'list({menu:3,list:1})' href="#">专业设置</a></li>
			<li><a  ui-sref = 'list({menu:3,list:2})' href="#">制度文件</a></li>
			<li><a  ui-sref = 'list({menu:3,list:3})' href="#">培养方案</a></li>
			<li><a  ui-sref = 'list({menu:3,list:4})' href="#">实践教学</a></li>
			<li><a  ui-sref = 'list({menu:3,list:5})' href="#">大学生创新</a></li>
			<li><a  ui-sref = 'list({menu:3,list:6})' href="#">本科生教育工程</a></li>
			<li><a  ui-sref = 'list({menu:3,list:7})' href="#">文档下载</a></li>
		</ul>
	</li>
	<li>
		<a ui-sref = 'list({menu:4,list:1})' href="#">研究生教育</a>
		<ul>
			<li><a ui-sref = 'list({menu:4,list:1})' href="#">硕士学位授予点</a></li>
			<li><a ui-sref = 'list({menu:4,list:2})' href="#">工程硕士授予领域</a></li>
			<li><a ui-sref = 'list({menu:4,list:3})' href="#">导师简介</a></li>
			<li><a ui-sref = 'list({menu:4,list:4})' href="#">管理制度</a></li>
			<li><a ui-sref = 'list({menu:4,list:5})' href="#">教学安排</a></li>
			<li><a ui-sref = 'list({menu:4,list:6})' href="#">研究生综合管理系统</a></li>
		</ul>
	</li>
	<li>
		<a ui-sref = 'list({menu:5,list:1})' href="#">学科建设</a>
		<ul>
			<li><a ui-sref = 'list({menu:5,list:1})' href="#">学科规划</a></li>
			<li><a ui-sref = 'list({menu:5,list:2})' href="#">重点学科</a></li>
			<li><a ui-sref = 'list({menu:5,list:3})' href="#">学术观点</a></li>
		</ul>
	</li>
	<li>
		<a ui-sref = 'list({menu:6,list:1})' href="#">师资队伍</a>
		<ul>
			<li><a ui-sref = 'list({menu:6,list:1})' href="#">矿业工程系</a></li>
			<li><a ui-sref = 'list({menu:6,list:2})' href="#">测绘工程系</a></li>
			<li><a ui-sref = 'list({menu:6,list:3})' href="#">勘查系</a></li>
			<li><a ui-sref = 'list({menu:6,list:4})' href="#">资环系</a></li>
		</ul>
	</li>
	<li>
	<a ui-sref = 'list({menu:7,list:1})' href="#">招生就业</a>
		<ul>
			<li><a ui-sref = 'list({menu:7,list:1})' href="#">招生工作</a></li>
			<li><a ui-sref = 'list({menu:7,list:2})' href="#">就业信息</a></li>
		</ul>
	</li>
	<li>
		<a ui-sref = 'list({menu:8,list:1})' href="#">学科研究</a>
		<ul>
			<li><a ui-sref = 'list({menu:8,list:1})' href="#">科研动态</a></li>
			<li><a ui-sref = 'list({menu:8,list:2})' href="#">科研成果</a></li>
			<li><a ui-sref = 'list({menu:8,list:3})' href="#">学术交流</a></li>
			<li><a ui-sref = 'list({menu:8,list:4})' href="#">科研政策</a></li>
			<li><a ui-sref = 'list({menu:8,list:5})' href="#">省重点实验室</a></li>
			<li><a ui-sref = 'list({menu:8,list:6})' href="#">省工程技术中心</a></li>
			<li><a ui-sref = 'list({menu:8,list:7})' href="#">省高校研发中心</a></li>
			<li><a ui-sref = 'list({menu:8,list:8})' href="#">2011协同创新中心</a></li>
		</ul>
	</li>
	<li>
		<a ui-sref = 'list({menu:9,list:1})' href="#">学生工作</a>
		<ul>
			<li><a ui-sref = 'list({menu:9,list:1})' href="#">公告通知</a></li>
			<li><a ui-sref = 'list({menu:9,list:2})' href="#">学生活动</a></li>
			<li><a ui-sref = 'list({menu:9,list:3})' href="#">学生管理</a></li>
			<li><a ui-sref = 'list({menu:9,list:4})' href="#">规章制度</a></li>
			<li><a ui-sref = 'list({menu:9,list:5})' href="#">学生会</a></li>
			<li><a ui-sref = 'list({menu:9,list:6})' href="#">学生工作文件下载</a></li>
		</ul>
	</li>
	<li>
		<a ui-sref = 'list({menu:10,list:1})' href="#">党政团务</a>
		<ul>
			<li><a ui-sref = 'list({menu:10,list:1})' href="#">支部党建</a></li>
			<li><a ui-sref = 'list({menu:10,list:2})' href="#">学生党建</a></li>
			<li><a ui-sref = 'list({menu:10,list:3})' href="#">团委工作</a></li>
			<li><a ui-sref = 'list({menu:10,list:4})' href="#">群众路线教育实践</a></li>
		</ul>
	</li>
	<li><a ui-sref = 'list({menu:11})' href="#">文件下载</a></li>
</ul>
