@radix: 100;
.px2rem(@name, @px) {
    @{name}: @px / @radix * 1rem;
}
.tips{
	.main{
		.header{
			.act-back{
				position: fixed;
				display: block;
				font-size: 1rem;
				line-height: 1.5rem;
				.px2rem(padding-left,30);
				color:white;
			}
		}
		.list{
			li{
				.px2rem(width,1000);
				margin: 0 auto;
				.px2rem(margin-top,20);
				.px2rem(font-size,38);
				background-color: white;
				.list-content{
					.px2rem(padding-top,20);
					.list-title{
						.px2rem(font-size,60);
						font-weight: bold;
						.px2rem(padding-left,20);
					}
					.list-date{
						.px2rem(padding-left,30);
						.px2rem(font-size,40);
					}
				}
				.list-summary{
					.px2rem(text-indent,64);
					.px2rem(padding,20);
					.px2rem(font-size,42);
				}
			}
			.empty{
				height: 0.8rem;
				.px2rem(width,1080);
			}

		}
	}
}