.room .main {
  position: relative;
}
.room .main .header .act-back {
  position: fixed;
  display: block;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-left: 0.3rem;
  color: white;
}
.room .main .input-part {
  height: 1.5rem;
  width: 10.8rem;
  position: fixed;
  bottom: 0;
  background-color: #E5E5E5;
  vertical-align: center;
}
.room .main .input-part input {
  position: absolute;
  top: 0.15rem;
  left: 0.15rem;
  height: 1.2rem;
  width: 9rem;
  font-size: 1.2rem;
}
.room .main .input-part .btn {
  position: absolute;
  top: 0.15rem;
  right: 0.1rem;
  height: 1.2rem;
  width: 1.4rem;
  font-size: 0.6rem;
  line-height: 1.2rem;
  border-radius: 0.2rem;
  background-color: #01bc8f;
  color: white;
  text-align: center;
}
