
.back-count{
	.main{
		.header{
			text-align: center;
			color:#01bc8f;
			h1{
				font-size: 40px;
				margin: 20px 0;
				height:50px;
				line-height: 50px;
			}
			div{
				
				font-size: 20px;
				height:90px;
				line-height: 90px;
				.admin-name{
					color:black;
					font-weight: bold;
				}
				.sign-out{
					margin-left: 15px;
					background-color:#01bc8f;
					color:white; 
					border-radius: 3px;
					font-size: 15px;
					cursor: pointer;
				}
			}
		}
		.container{
			margin-top: 30px;
			.breadcrumb{
				.active{
					font-weight: bold;
				}
			}
			.content{
				.info-table{
					font-size: 16px;
					text-align: center;
					td{
						vertical-align: middle;
					}
					.btn-modify{
						background-color: #01bc8f;
						color:white;
						vertical-align: middle;
						cursor:pointer;
					}
					.btn-delete{
						background-color: #01bc8f;
						color:white;
						vertical-align: middle;
						cursor:pointer;
					}
				}
				#map{
					height:300px;
					margin-bottom:15px;
					padding:0 30px;
					.amap-marker-content{
						color: white;
						width:19px;
						height:33px;
						font-size: 12px;
						line-height: 20px;
						text-align: center;
						background-image: url('http://webapi.amap.com/theme/v1.3/markers/b/mark_bs.png');
						background-size:19px 33px;
					}
				}
				.all{
					margin-left: 15px;
				}
				.show{
					margin-left: 10px;
				}
				.page{
					height:34px;
					line-height: 34px;
					text-align: center;
					.data-btn{
						display: inline-block;
						margin: 0 5px;
						padding:0 5px;
						color:white;
						background-color: #01bc8f;
						border-radius: 5px;
					}
				}
				.go{
					padding-right: 15px;
				}
				.btn-checkAll{
					vertical-align: center;
					background-color: #01bc8f;
					color:white;
					cursor:pointer;
				}
				td{
					text-align: center;
					vertical-align: center;
				}
			}
		}
		

	}
}