* {
    margin: 0;
    padding: 0;
}
ul {
	list-style: none;
}
div,li{
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
html{
	font-size: 100%;
}
input {
	border: none;
	outline: medium;
	line-height: 2;
	background-color: transparent !important;
}

body {

	background-color: #fafafa;
	font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif
}
header{
	height:2.5rem;
	width: 100%;
	background-color: #ff7878;
	position: fixed;
	top:0;
	font-size: .5rem;
	z-index: 999;
}
header h1 {
	color: #fff;
	text-align: center;
	line-height: 2.5;
}
footer{
	position: fixed;
	width: 100%;
	bottom: 0;
	background-color: #ffffff;
	height: 2.5rem;
	border-top:1px solid #E6E6E6;
	padding: .3rem 0;
	z-index: 999;
}
footer ul{

}
footer ul li{
    float: left;
    width: 33.3333%

}
footer ul li .logo {
	height: 1.3rem;
	text-align: center;
	margin-bottom: .25rem;
}
footer ul li .logo img{
	height: 100%;
}
footer ul li p {
	font-size: .6rem;
	text-align: center;
	color:#515151;
}
footer ul li.active p{
	color:#ff7878;

}

.my-layer {
	display: none;
}
.my-layer .layer-main {
	position: fixed;
	background-color: #f1f1f1;
	height: 100%;
	width: 45%;
	top: 0;
	right: 0;
	z-index: 999;
}
.my-layer .mask {
	position:fixed;
	background-color: rgba(81,81,81,.6);
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 999;
}

.my-layer .layer-main .layer-top .personal {
	text-align: center;
}
.my-layer .layer-main .layer-top .personal p {
	margin-top: .5rem;
}
.my-layer .layer-main .layer-top .personal .pic{
	width: 4.5rem;
	height: 4.5rem;
	margin: 0 auto;
	border-radius: 100%;
	overflow: hidden;
}
.pic img {
	height: 100%;
}
.my-layer .layer-main {
	padding: 1rem;
}
.my-layer .layer-main .layer-top {
	margin-bottom: 2rem;
}
.my-layer .layer-main .layer-body ul li{
	display: flex;
}
.my-layer .layer-main .layer-body ul li .logo{
	margin-right: 1rem;
}
.my-layer .layer-main .layer-body ul li p {
	font-size: .5rem;
}
.my-layer .layer-main .layer-body ul li {
	margin-bottom: 1rem;
	border-bottom:  1px solid #ffffff;
	padding: .5rem 0;
}
.my-layer .layer-main .layer-body ul li .logo img {
	height: 1rem;
}

.my-layer .layer-main .layer-footer {
	margin-top: 2rem;
}
.my-layer .layer-main .layer-footer .logout {
	text-align: center;
}


.special-topic{
	width: 100%;
	/*height: 8rem;*/
	margin-top: 2.5rem;
	background-color: #ffffff;
	overflow: hidden;
	margin-bottom: .5rem;
}
.special-topic > * {
    box-sizing: border-box;
}
.special-topic img{
	width: 100%;
}
.special-topic .title {
	font-weight: bold;
	font-size: .8em;
}
.special-topic .content .description {
	width: 60%;
	font-size: .6em;
	float: left;
	color: #bcbcbc;
}
.special-topic .content .pic {
	width: 40%;
	float: left;
}
.special-topic .special-chippest{
	width: 60%;
	float: left;
	padding:.5rem;
	padding-left:1rem;
	padding-top: 1.2rem;
}    
.special-topic .special-chippest .title {
	margin-bottom: .5rem;
}
.special-topic .special-chippest .content{
	height: 5rem;
	float: left;
	
}

.special-topic .special-chippest .content>*{
	float: left;
}
.special-topic .special-chippest .content .description {
	width: 30%;
	margin-right: 15%;
	color: #9c9c9c;
}
.special-topic .special-chippest .content .pic{
	height: 100%;
}
.special-topic .special-chippest .content .pic img{
	height: 5rem;
	width: auto;
}
.special-topic .special-chippest .title p{
	color:#ff7878;
}
.special-topic .special-seller {
	width: 40%;
	float: left;
	border-left: 1px solid #E6E6E6;
}

.special-topic .special-seller .no {
	float: none;
	border-bottom: 1px solid #E6E6E6;
	padding:.3rem;
	padding-left: .6rem;
}

.special-topic .special-seller .no .content{
	height: 3rem;
	overflow: hidden;

}
.special-topic .special-seller .no .pic img{
	height: 2rem;
    width: auto;
}
.main-body {
	margin-bottom: 4rem;
}
.main-cell {
	display: flex;
	position: relative;
	background-color: #ffffff;
	padding: .5rem;
	margin-bottom: .5rem;
}
.main-cell .pic {
    width:7rem;
    margin-right: .5rem; 
}
.main-cell .pic img{
	width: 100%;
}
.main-cell .content {
	flex:1;
}
.main-cell .content > p{
	padding: .5rem 0;
	font-size: .9rem;
	color: #ff7878;
}

.main-cell .content .title{
	font-size: .9rem;
    margin-top: .5rem;
}
.main-cell .content .footer{
	position: absolute;
	font-size: .7rem;
	bottom: 1rem;
}
.main-cell .content .footer .source{
	display: block;
	width: 6rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
}

.btn {
	padding: .6rem 6rem;
	font-size: .9rem;
	border: none;
	background-color: #ff7878;
	color: #fff;
	border-radius: 5rem;
	outline: medium;
}